{% load static %}

<html>
<title>Word challenge</title>

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/Interface.css' %}" />
	<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/Interface.js' %}"></script>
	<!-- <script src="{% static 'images/snowflakes.jpg' %}"></script> -->
	<!-- <link rel="stylesheet" type="text/css" href="/Users/Catalina/Documents/workspace/Projects/Fun-with-words/funwithwords/static/css/Interface.css" />
	<script type="text/javascript" src="/Users/Catalina/Documents/workspace/Projects/Fun-with-words/funwithwords/static/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/Users/Catalina/Documents/workspace/Projects/Fun-with-words/funwithwords/static/js/Interface.js"></script> -->

</head>
<audio autoplay loop>
	<source src="{% static 'audio/pink_panther.mp3' %}" type="audio/mpeg">
	</audio>

<body id="mainview">


<div id="labels">
	<label id="let"></label>
</div>

<div id="letters">
	<table id="typed">
		<tr id="input"></tr>
	</table>

	<table id= "random">
		<tr id="output"></tr>
	</table>
</div>

<div id="letters3">

	<table id="words3" class="words"></table>
	<script>wordsSupport(3, 12, "words3")</script>
</div>

<div id="letters4">
	<table id="words4" class="words"></table>
	<script>wordsSupport(4, 12, "words4")</script>
</div>

<div id="letters5">
	<table id="words5" class="words"></table>
	<script>wordsSupport(5, 12, "words5")</script>
</div>

<div id="letters6">
	<table id="words6" class="words"></table>
	<script>wordsSupport(6, 12, "words6")</script>
</div>



<div id="start">
	<button id="start" class="buttons" onclick = "myFunction('let')"> Start</button>
</div>

<div id="new">
	<button id="new" class="buttons">New</button>
</div>


<div id="shuffle">
	<button id="shuffle" class="buttons">Shuffle</button>
</div>


<div id="timer2">
	<img id="panther" src="{% static 'images/panther2.gif' %}"></img>
	<label id="timer"></label>
</div>

<script type="text/javascript">
	var key = "{{ key }}";
	var three = "{{three|safe}}"
	var four = "{{four|safe}}"
	var five = "{{five|safe}}"
	var six = "{{six|safe}}"
</script>

</body>

</html>
