{% load static %}

<html>
<title>Word challenge</title>

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/Interface.css' %}" />
	<link href='//fonts.googleapis.com/css?family=Mystery Quest' rel='stylesheet'>
	<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/Interface.js' %}"></script>
	<!-- <script src="{% static 'images/snowflakes.jpg' %}"></script> -->
	<!-- <link rel="stylesheet" type="text/css" href="/Users/Catalina/Documents/workspace/Projects/Fun-with-words/funwithwords/static/css/Interface.css" />
	<script type="text/javascript" src="/Users/Catalina/Documents/workspace/Projects/Fun-with-words/funwithwords/static/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/Users/Catalina/Documents/workspace/Projects/Fun-with-words/funwithwords/static/js/Interface.js"></script> -->

</head>
<audio autoplay loop>
	<!-- <source src="{% static 'audio/pink_panther.mp3' %}" type="audio/mpeg"> -->
</audio>

<script type = "text/javascript">
	var key = "{{ key }}";

	// These lists are sorted
	var three = {{ three|safe }};
	var four = {{ four|safe }};
	var five = {{ five|safe }};
	var six = {{ six|safe }};
</script>

<body id="mainview">
<h1 id="logo2">Word Challenge</h1>

<div id="labels">
	<label id="let"></label>
</div>

<div id="letters">
	<table id="typed">
		<tr id="input"></tr>
	</table>

	<table id= "random">
		<tr id="output"></tr>
	</table>
</div>
<div id="words">
<div id="letters3">
	<table id="words3" class = "words"></table>
	<table id="words32" class="words"></table>
</div>

<div id="letters4">
	<table id="words4" class="words"></table>
	<table id="words42" class="words"></table>
</div>

<div id="letters5">
	<table id="words5" class="words"></table>
	<table id="words52" class="words"></table>
</div>

<div id="letters6">
	<table id="words6" class="words"></table>
	<table id="words62" class="words"></table>
</div>

</div>

<div id="start">
	<button id="start-button" class="buttons" onclick = "myFunction('let')"> Start</button>
</div>

<div id="new">
	<button id="new-button" class="buttons">New</button>
</div>


<div id="shuffle">
	<button id="shuffle-button" class="buttons">Shuffle</button>
</div>


<div id = "timer2">
	<img id = "panther" src = "{% static 'images/panther2.gif' %}"></img>
	<label id = "timer"></label>
</div>

<label id="score">Score: </score>

</body>

</html>
