{% load static %}
<html>
<title>Start Word Challenge</title>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/Interface.css' %}" />
	<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/Interface.js' %}"></script>
  <!-- <link rel="stylesheet" type="text/css" href="/Users/Catalina/Documents/workspace/Projects/Fun-with-words/funwithwords/static/css/StartView.css" /> -->
  <!-- <script type="text/javascript" src="/Users/Catalina/Documents/workspace/Projects/Fun-with-words/funwithwords/static/js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/Users/Catalina/Documents/workspace/Projects/Fun-with-words/funwithwords/static/js/Interface.js"></script> -->
  <!-- <sctipt type="text/python" src="/Users/Catalina/Documents/workspace/Projects/Fun-with-words/funwithwords/templates/py/views.py"></script> -->
</head>
<body id="startview">
  <p>
    Instructions
  </p>

  <button type="submit"id="enter" onclick="window.location.href='game/'">

  </button>

</body>
</html>
