/*{% load static %}*/

body{
	background-image: url('/static/images/snowflakes.jpg');
	/*background-image: url("{% static 'images/snowflakes.jpg' %}");*/
	background-repeat: no-repeat;
	background-size: 100%;
}

#let{
		background: #72d2da;



}
#input{
	border-collapse: separate;
	background:#E1C5EB;
	font-size: 40px;
	text-align: center;
}

#output{
	border-collapse: separate;
	background:#72d2da;
	font-size: 40px;
	text-align: center;
}
#random{

	top: 300px;
	left: 270px;
	border-spacing: 30px;
	position: relative;
}
#typed{
	top: 320px;
	left: 270px;
	border-spacing: 30px;
	position: relative;
}
#words3{
	border-collapse: separate;
	top:15px;
	left: 200px;
	font-size: 17px;
	text-align: center;
	color:white;
	border-spacing: 3px;
	position: absolute;
}
#words4{
	border-collapse: separate;
	top:15px;
	left: 380px;
	font-size: 17px;
	text-align: center;
	color:white;
	border-spacing: 3px;
	position: absolute;
}
#words5{
	border-collapse: separate;
	top:15px;
	left: 590px;
	font-size: 17px;
	text-align: center;
	color:white;
	border-spacing: 3px;
	position: absolute;
}
#words6{
	border-collapse: separate;
	top:15px;
	left: 830px;
	font-size: 17px;
	text-align: center;
	color:white;
	border-spacing: 3px;
	position: absolute;
}
#start{
	top: 550px;
	left: 300px;
	width: 100px;
	position: absolute;
}
#new{
	min-width: 50px;
	top: 550px;
	left: 500px;
	position: absolute;

}
#shuffle{
	top: 550px;
	left: 700px;
	width: 50px;
	position: absolute;

}
